[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rojikoma
[access "refs/for/refs/*"]
	read = group user/rojikoma
	push = group user/rojikoma
	label-Code-Review = -2..+2 group user/rojikoma
	label-Verified = -1..+1 group user/rojikoma
	rebase = group user/rojikoma
	removeReviewer = group user/rojikoma
	submit = group user/rojikoma
[access "refs/heads/*"]
	read = group user/rojikoma
	create = group user/rojikoma
	push = +force group user/rojikoma
	pushMerge = group user/rojikoma
[access "refs/tags/*"]
	push = +force group user/rojikoma
	pushTag = group user/rojikoma
	pushSignedTag = group user/rojikoma
